html, body {
    width: 100%;
    margin: 0px;
}

body {
    background-color: #F3F3F3;
    background-color: white;
    font-family: Arial;
}

#wrap {
    width: 100%;
    height: 100%;
    margin: 0;
}

#map {
    height: 100%;
}

#wrap {
    visibility: hidden;
}

#content {
    margin: auto;
}

.header {
    text-align: center;
}

/* (A) FULL SCREEN WRAPPER */
#spinner {
    position: fixed;
    top: 0; left: 0; z-index: 9999;
    width: 100vw; height: 100vh;
    background: rgba(0, 0, 0, 1);
    transition: opacity 0.2s;
}

/* (B) CENTER LOADING SPINNER */
#spinner img {
    position: absolute;
    top: 0; left: 0;
    width: 100vw; height: auto;
}

/* (C) SHOW & HIDE */
#spinner {
    visibility: hidden;
    opacity: 0;
}
#spinner.show {
    visibility: visible;
    opacity: 1;
}
